<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!--预留项目没有使用上-->
    <beans:bean id="restFulFactory" class="com.servitization.commons.business.agent.AgentScannerConfigurer">
        <beans:property name="basePackage"
                        value="com.servitization.webms.http,com.servitization.commons.permission.http"/>
        <beans:property name="configLocation" value="classpath:config/config.properties"/>
    </beans:bean>
</beans:beans>